
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
  .original
  {
    margin-top: 165px;
  }
}
@media only screen and (min-width: 600px) {
  .girl
  {
    width: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  .paintingbannerimg
  {
    /* margin-left: -118px; */
    width: 1369px;
  }
  .svgline
  {
    height: 38px!important;
    margin-left: 244px!important;
    margin-top: -9px!important;
  }
  .svgline1
  {
    height: 38px!important;
    margin-left: 212px!important;
    margin-top: -9px!important;
  }
  .svgline2
  {
    height: 38px!important;
    margin-left: -336px!important;
    margin-top: 96px!important;
  }
  .svgline3
  {
    height: 38px!important;
    margin-left: -336px!important;
    margin-top: 96px!important;
  }
  .arrowicon
  {
    margin-top: 1px;
    margin-left: 10px;
  }
  .arrowicon1
  {
    margin-top: 1px;
    margin-left: 10px;
  }
  .paintingheading
  {
    width: 486px;
    height: 42px;
    font-family: Raleway;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    margin-top: -123px;
    color: #ffffff;
    margin-left: 369px;
  }
  .breadcrumb
  {
    width: 181px;
    height: 24px;
    font-family: Roboto;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-top: -32px;
  }
    .border2
  {
    padding-left: 0px!important;
    padding-right: 0px!important;
    padding-top: 5px;
    height: 184px;
    width: 100px;
    max-width: 307px;
    margin-left: 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
 
  }  
  .borderboxbrown
{
    width: 97%;
    height: 236px;
    margin-top: 0px;
    margin-left: 100px!important;
    max-width: 81.5%;
    box-shadow: -5px 5px 10px 0 rgba(0, 0, 0, 0.16);
    border-style: solid;
    border-color: #421e00;
    border-width: 6px;
    background-color: #fff6ef;
}
.borderboxbrown2
{
  width: 97%;
  height: 236px;
  margin-top: 0px;
  margin-left: 55px!important;
  max-width: 81.5%;
  box-shadow: -5px 5px 10px 0 rgba(0, 0, 0, 0.16);
  border-style: solid;
  border-color: #421e00;
  border-width: 6px;
  background-color: #fff6ef;
}
   .border4
  {
    /* padding-left: 0px!important;
    padding-right: 0px!important; */
    /* margin-left: 10px;
    max-width: 100%!important; */
    /* width: 36%!important; */
    height: 183px;
    /* margin-top: 10px; */
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
  } 
  .border3
  {
    padding-top: 5px!important;
    margin-left: 10px;
    padding-left: 0px!important;
    max-width: 110%!important;
    width: 36%!important;
    height: 184px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
 
  }  
  .borderbox2:hover
  {
    width: 246px;
    height: 338px;
    box-shadow: 0 14px 14px 0 rgba(0, 0, 0, 0.16);
    background-color: #fbfcfe;
  }
  .borderboxselect:hover
  {
    width: 238px;
    height: 163px;
    box-shadow: 0 14px 14px 0 rgba(0, 0, 0, 0.16);
    background-color: #fbfcfe;
  }
  .co
  {
    color:#d97113!important;
  }
  .borderboxselect2:hover
  {
    width: 148px;
    height: 163px;
    box-shadow: 0 14px 14px 0 rgba(0, 0, 0, 0.16);
    background-color: #fbfcfe;
  }
  .borderboxselect3:hover
  {
    width: 172px;
    height: 163px;
    box-shadow: 0 14px 14px 0 rgba(0, 0, 0, 0.16);
    background-color: #fbfcfe;
    
  }
  .borderboxselect4:hover
  {
    width: 155px;
    height: 163px;
    box-shadow: 0 14px 14px 0 rgba(0, 0, 0, 0.16);
    background-color: #fbfcfe;
  }
  .borderbox:hover
  {
    width: 216px;
    height: 241px;
  box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.16);
  background-color:#fbfcfe ;
  }
  .img
  {
    object-fit: cover;
    height: 173px!important;
    object-position: 80% 50%;
    margin-left: 5px;
    width: 193px!important;
    max-width: fit-content;
    max-width: 500px!important;
  }
  .camera
  {
    object-fit: cover;
    height: 173px!important;
    object-position: 80% 50%;
    margin-left: 5px;
    width: 297px!important;
    max-width: fit-content;
    max-width: 500px!important;
  }
  .draw
  {
    object-fit: cover;
    height: 170px!important;
    object-position: 80% 50%;
    margin-top: 7px;
    width: 176px!important;
    max-width: fit-content;
    max-width: 500px!important;
    margin-left: 6px;
  }
  .girly
  {
    object-fit: cover;
    height: 173px!important;
    object-position: 80% 50%;
    margin-left: -9px;
    width: 311px!important;
    max-width: fit-content;
    max-width: 500px!important;
    margin-top: 6px;
  }
   .horse
   {
        margin-left: -4px;
        width:100%;min-height: 100%;
   }
   #container1
   {
    margin-top: 80px!important;
    width: 1349px!important;
    height: 354px;
    max-width: 1369px!important;
   }
   .forest
   {
        width: 243px;
    height: 202px;
    margin-left: -50px;
   }
   .fimage
   {
   	    height: 188px!important;
    margin-top: 3px;

   }
   .style
   {
   	    height: 202px!important;
         margin-left: -19px;
         margin-right: 11px;

   }
   .selectionsection
   {
    margin-top: 65px;
    margin-left: -19px;
   }
   .colgod
   {
    width: 203px!important;
    margin-left: -13px;

   }
   .budha
   {

    height: 199px;
    margin-top: 1px;
    margin-right: 54px;
    margin-left: -30px;

   }
   .budhaimg
   {
   	height: 189px!important;
   }
   .styleimage
   {
   	height: 190px!important;
   }
   .col-md-8 
	{
    /* width: 62.666667%;
    margin-top: 110px!important; */
  }	
  .btn
    {
      width: 86px!important;
      height: 38px!important;
      border-radius: 2px!important;
      background-color: #434343;
      text-align: center!important;
      margin-left: 609px!important;
    }
      
    
    .btn1
    {
      width: 147px!important;
      height: 42px!important;
      border-radius: 2px!important;
      background-color: #434343;
      text-align: center!important;
      margin-left: 480px!important;
      margin-top: 31px
    }
    .border5
    {
      /* margin-left: 10px; */
      /* padding-left: 0px;
      padding-right: 0px; */
      margin-top: 8px;
      /* max-width: 396px!important;
      width: 323px!important; */
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
      background-color: #ffffff;
    }
    .border
    {
      width: 408px;
      height: 376px;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
      background-color: var(--white);
      border: 0px solid white !important;
      padding-top: 0px;
      position: static;
      min-height: 11px;
      padding-right: 0px!important;
      padding-left: 0px!important;
      max-width: 262px!important;
    }
    .border1
    {
      padding-left: 0px!important;
    padding-right: 0px!important;
    padding-top: 4px;
    margin-left: -25px;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
      background-color: #ffffff;
    } 
    .bannerdot
    {
      margin-top: 10pc;
                    margin-left: 88px;
                    width: 158px;
    }
    .banner2
    {
      height: 412px!important;
                    margin-top: 10pc;
                    margin-left: -47px;
    }
    .bannerheading
    {
      width: 448px;
    height: 76px;
    font-family: Raleway;
    font-size: 34px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin-top: 19pc;
    margin-left: 0 pc;
    }
    .bannersubheading
    {
      width: 284px;
      height: 64px;
      font-family: Roboto;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.59;
      letter-spacing: normal;
      text-align: left;
      color: #222222;
      margin-top: -31px;
      margin-left: 0px;
    }
    .bannercontainer
    {
      margin-top: -100px;
    }
    .bannerside
    {
      width: 259px;
      margin-top: -29pc;
      margin-left: 29pc;
    }
    .bannerline
    {
      width: 100px;
      margin-top: 10p;
      margin-top: 20pc;
      z-index: 1;
      position: absolute;
      margin-left: 10pc;
    }
    .bannercircle
    {
      width: 129px;
      margin-top: -96px;
      margin-left: 7pc; 
      z-index: -1;
      position: absolute;
    }
    .banner
    {
      position: absolute;
      z-index: 1;
      width: 17pc;
      margin-top: 282px;
      margin-left: -13pc;
      height: 231px;
    }
    .heartdesign
    {
      padding-left: 32px;
      margin-top: 10px;
  }
    .shopsrow
    {
      padding-top: 10px;
    }
    .originalnature
    {
      object-fit: cover;
      height: 150px!important;
      object-position: 80% 50%; 
      margin-left: 6px;
      width:225px!important;
    }
    .originalgod
    {
      object-fit: cover;
      height: 150px!important;
      object-position: 80% 50%; 
      margin-left: 6px;
      width:136px!important;

    }
    .originalbudha
    {
      object-fit: cover;
      height: 150px!important;
      object-position: 80% 50%; 
      margin-left: 6px;
      width:142px!important;

    }
    .originaltrendy
    {
      object-fit: cover;
      height: 150px!important;
      object-position: 80% 50%; 
      margin-left: 6px;
      width:160px!important;
    }
    .artwhiteman
    {
      object-fit: cover;
      height: 204px!important;
      object-position: 80% 50%;
      width: 143px!important;
      margin-top: 10px;
      margin-left: -5px;
      z-index: 0;
      position: absolute;
    }
    .artcolortree
    {
      object-fit: cover;
      height: 106px!important;
      object-position: 80% 50%;
      width: 107px!important;
      margin-top: 10px;
      margin-left: 5px;
      z-index: 0;
      position: absolute;
    }
    .artcolorhorse
    {
      object-fit: cover;
      height: 90px!important;
      object-position: 80% 50%;
      width: 109px!important;
      margin-top: 126px;
      margin-left: 5px;
      max-width: 120%!important;
    }
    .artcolor
    {
      object-fit: cover;
    height: 104px!important;
    object-position: 80% 50%;
    width: 103px!important;
    margin-top: 10px;
    margin-left: -4px;
    z-index: 0;
    position: absolute;
    }
    .arttrendygirl
    {
      object-fit: cover;
      height: 89px!important;
      object-position: 80% 50%;
      width: 103px!important;
      margin-top: 125px;
      margin-left: -4px;
      max-width: 120%!important;  
    }
    .artblackstaute
    {
      object-fit: cover;
      height: 204px!important;
      object-position: 80% 50%;
      width: 143px!important;
      margin-top: 10px;
      margin-left: -25px;
      z-index: 0;
      position: absolute;
    }
    .shopping
    {
      width: 14px;
      margin-left: 180px;
      margin-top: -86px;
  
    }
    .chirscol
    {
      margin-left: 21px;
    }
    .gradcol
    {
      margin-left: 19px;
    }
    .homecol
    {
      margin-left: 18px;
    }
    .newcol
    {
      margin-left: 10px;
    }
    .mrgcol{
      margin-left: 12px;
    }
    .birthdaycol
    {
      margin-left: 23px;
    }
    .valencol
    {
      margin-left: -17px;
    }
    .sidearrow
    {
      margin-left: 32pc;
    width: 49px;
    margin-top: -12pc;
    }
    .sidearrow1

    {
      width: 49px;
      margin-top: -28pc;
      margin-left: -4pc;
    }
    .sideimagecat1
    {
      width: 77px;
      margin-top: -45px;
      z-index: 0;
      position: absolute;
      margin-left: 0pc;
    }
    .sideimgcat
    {
      width: 31px;
      margin-top: 106px;
      z-index: 0;
      position: absolute;
      margin-left: 7pc;
  
    }
     .sideimg
    {
      object-fit: cover;
      object-position: 80% 50%;
      margin-top: -278px;
      height: 21px;
      margin-left: 72pc;
    } 
.artmoontree
    {
      object-fit: cover;
      height: 150px!important;
      object-position: 80% 50%;
      margin-left: 10px;
      width:225px!important;
    }
    .artgirl
    {
      object-fit: cover;
      height: 105px!important;
      object-position: 80% 50%;
      margin-left: -11px;
    }
    .artdraw
    {
      object-fit: cover;
      height: 105px!important;
      object-position: 80% 50%;
      margin-left: 4px;
      width: 189px!important;
    }
    .artman
    {
      object-fit: cover;
      height: 105px!important;
      object-position: 80% 50%;
      margin-left: 4px;
      width: 189px!important;
    }
    .artelephant
    {
      object-fit: cover;
      height: 105px!important;
      object-position: 80% 50%;
      margin-left: 4px;
      width: 108px!important;
    }

    .artwoman
    {
      object-fit: cover;
      height: 150px!important;
      object-position: 80% 50%;
      margin-left: 10px;
      width:225px!important;
    }
    .artstatue
    {
      object-fit: cover;
      height: 105px!important;
      object-position: 80% 50%;
      margin-left: 4px;
      width: 189px!important;
    }
    .arthorse
    {
      object-fit: cover;
      height: 105px!important;
      object-position: 80% 50%;
      margin-left: -18px;
      width: 108px!important;
      max-width: none!important;
    }
    .artstylewoman
    {
      object-fit: cover;
      height: 150px!important;
      object-position: 80% 50%;
      margin-left: 10px;
      width:225px!important;
    }
    .artshadow
    {
      object-fit: cover;
      height: 105px!important;
      object-position: 80% 50%;
      margin-left: 4px;
      width: 189px!important;
    }
    .artbridge
    {
      object-fit: cover;
      height: 105px!important;
      object-position: 80% 50%;
      margin-left: -18px;
      width: 108px!important;
      max-width: none!important;
    }
    .artlongbridge
    {
      object-fit: cover;
      height: 150px!important;
      object-position: 80% 50%;
      margin-left: 10px;
      width:224px!important;
    }
    .btnsold
    {
      width: 50px!important;
      height: -12pc!important;
    
      height: 18px!important;
      margin-top: -90px;
  
      margin-left: 149px!important;
    }
    .recentheart:hover
    {
        color:#d97113;
    }
    .recentheart
    {
      width: 22.9px;
      height: 19.4px;
      color: #c2c2c2;
    }
    .recentheartcol
    {
      margin-top: -41px;
      margin-left: 156px;
    }
    .txtsold
    {
      margin-top: -4px;
    width: 32px;
    height: 21px;
    font-family: SegoeUI;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: var(--white);
    
    }
    .recentgirl
    {
      object-fit: cover;
      height: 234px!important;
      object-position: 80% 50%;
      padding-top: 7px;
      padding-left: 7px;
      width: 209px!important;
    }
    .recentyellow
    {
      object-fit: cover;
      height: 234px!important;
      object-position: 80% 50%;
      padding-top: 7px;
      padding-left: 7px;
      width: 209px!important;
    }
    .recentcycle
    {
      object-fit: cover;
      height: 234px!important;
      object-position: 80% 50%;
      padding-top: 7px;
      padding-left: 7px;
      width: 209px!important;
    }
    .recentgods
    {
      object-fit: cover;
      height: 234px!important;
      object-position: 80% 50%;
      padding-top: 7px;
      padding-left: 7px;
      width: 209px!important;
    }
    .recenthouse
    {
      object-fit: cover;
      height: 234px!important;
      object-position: 80% 50%;
      padding-top: 7px;
      padding-left: 7px;
      width: 209px!important;
    }
    .arrow
    {
      object-fit: cover;
      height: 54px!important;
      object-position: 80% 50%;
      margin-left: 72pc;
      margin-top: 8pc;
      z-index: 0;
      position: absolute;
    }
    .arrow2
    {
      object-fit: cover;
    height: 55px!important;
    object-position: 80% 50%;
    margin-left: 67pc;
    margin-top: 11pc;
    z-index: 0;
    position: absolute;
    }
    .arrow3
    {
      object-fit: cover;
    height: 55px!important;
    object-position: 80% 50%;
    margin-left: 70pc;
    margin-top: 10pc;
    z-index: 0;
    position: absolute;
    }
    .arrow4
    {
      object-fit: cover;
    height: 55px!important;
    object-position: 80% 50%;
    margin-left: 71pc;
    margin-top: 6pc;
    z-index: 0;
    position: absolute;
    }
    .circle1
    {
      object-fit: cover;
      height: 40px!important;
      object-position: 80% 50%;
      margin-left: 3pc;
      margin-top: 6pc;
      z-index: 0;
      position: absolute;
    }
    .circle2
    {
      object-fit: cover;
      height: 26px!important;
      object-position: 80% 50%;
      margin-left: 108px;
      margin-top: 146px;
      z-index: 0;
      position: absolute;
    }
    .circle3
    {
      object-fit: cover;
      height: 15px!important;
      object-position: 80% 50%;
      margin-left: 122px;
      margin-top: 117px;
      z-index: 0;
      position: absolute;
    }
    .box2
    {
      vertical-align: middle;
      width: 65px!important;
      height: 68px!important;
      border-radius: 50%;
      margin-bottom: 4px;
      margin-left: 3pc;
      object-fit: cover;
      margin-top: 97px;
  
    }
    .dot1
    {
      height: 6px;
      width: 6px;
      background-color:#421e00;
      border-radius: 50%;
      display: inline-block;
      margin-top: 95px;
      margin-left: 15pc;
    }
    .dot2
    {
      height: 6px;
      width: 6px;
      background-color:#421e00;
      border-radius: 50%;
      display: inline-block;
        margin-top: 59px;
    margin-left: 13pc;
    }

    .fitimage{
      object-fit: cover;
      height: 365px!important;
      object-position: 80% 50%;
      margin-left: 6px;
      margin-top: 5px;
      }
      .fitimages{
        object-fit: cover!important;
        height: 368px!important;
        object-position: 80% 50%!important;
        min-height: 98.5%;
        width: 98.5%;
        padding-left: 5px;
    }
        }
      .fitimageshop{
        object-fit: cover;
        height: 86px;
        object-position: 80% 50%;
        }
      .fitimages
      {
        object-fit: cover;
        height: 430px;
        object-position: 43% 50%;
        }
    .selection
    {
      margin-left:0px!important;
    }
    .get
    {
      margin-left:0px!important;
    }
    .recent
    {
        margin-left: 0px!important;
    }
    .btnrecent
    {
        margin-left: -35px!important;
        width: 83px;
  height: 28px;
  border-radius: 2px;
  background-color: #ec8c39;
    }
    .btnframe
    {
      margin-top: 17pc;
        margin-left: 0px!important;
        width: 83px;
      height: 28px;
      border-radius: 2px;
      background-color: #ec8c39;
    }
    /* .frame
    {
        
        margin-top: 160px;
        margin-left: 123px!important;
        max-width: 23.5%;
    }         */
    .frame1
    {
        max-width: 23%;
        margin-top: 94px;
        margin-left: 43px!important;
    }
    #container12
    {
        height: 540px!important;
        width: 100%;
        margin-top: 44px;
    }
    .heroimg
    {
      margin-left: -119px;
      width: 122%!important;
      margin-top: -60px;
  
    }
    .giftside
    {
      width: 455px;
      height: 26px;
      font-family: Roboto;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.3;
      letter-spacing: normal;
      text-align: left;
      color: #222222;
      margin-top: -335px;
      margin-left: 407px;
    }
    .gifthead
    {
      width: 498px;
      height: 26px;
      font-family: Roboto;
      font-size: 30px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.3;
      letter-spacing: normal;
      text-align: left;
      color: #222222;
      margin-top: -412px;
      margin-left: 345px;
    }
    .icons
    {
      margin-top: -240px;
      margin-left: 30px;
    }
    .create
    {
      width: 535px;
      height: 147px;
      font-family: Raleway;
      font-size: 28px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.17;
      letter-spacing: normal;
      text-align: left;
      margin-left: -36px;
      margin-top:100px;
    }
    .createsub
    {
      width: 416px;
    height: 67px;
    font-family: Roboto;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.59;
    letter-spacing: normal;
    text-align: left;
    margin-top: -80px;
    margin-left: -36px;
    }
    .rectangle
    {
      width: 613px!important;
      height: 253px;
      border-radius: 15px;
      background-color: #ec8c39;
      margin-top: 61px;
      margin-left: 341px!important;
    }
    .emerge
    {
        background-color: #fff6ef;
        width: 1349px!important;
        margin-left: -4px;
        margin-top: 190px;
        height: 769px;
        max-width: 2000px;
    }
    .emergehead
    {
      font-family: Raleway;
      font-size: 28px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.18;
      letter-spacing: normal;
      text-align: left;
      margin-top: 206px;
    }
    .emergecol
    {
      width: 90%!important;
      margin-left: 77px!important;
  
    }
    .recentview
    {
      font-family: Raleway;
      font-size: 28px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.18;
      letter-spacing: normal;
      text-align: left;
      margin-top: 80px; 
    }
    .recentrow
    {
      margin-top: 44px;
      width: 1396px;
    }
    .tgirl
    {
      width:20%;
    }
    .ynature
    {
      width:20%;
    }
    .cyclenature
    {
      width:20%;
    }
    .natures
    {
      width:20%;
    }
    .treehouse
    {
      width:20%;
    }
    .recentimg
    {
      height: 234px!important;
      width: 94%!important;
      margin-left: 6px;
    }
    .fullimage
    {
      margin-left: -124px;
      height: 451px;
      width: 1370px!important;
    }
  .listrow
  {
    margin-left: 163px!important;
    margin-top: -307px!important;
  }
  .iconimage
  {
    width: 37px;
    height: 87.3px;
    object-fit: contain;
    margin-left: 35px;
  }
  .listdetails
  {
    width: 190px;
    height: 64px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: var(--black-two);
    margin-left: -27px;
  }
  .recentext
  {
    width: 167px;
    height: 26px;
    font-family: Roboto;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: left;
    margin-top: 10px;
  }
  .rate
  {
    width: 54px;
  height: 32px;
  font-family: Roboto;
  font-size:9 px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #ff4e4e;
  margin-top: -14px;
  margin-left: -14px;
  }
  .box
{
  width: 50%;
  margin-top: 69px;
  height: 100px;
}
.rowindex
{
  margin-left: 22px;
  margin-top: -476px;
}
.customerhead
{
  margin-top: 18px!important;
  width: 291px!important;
  margin-left: -41px!important;
  font-size: 21px!important;
}
.quotes
{
  margin-top: 34px!important;
    font-size: 19px;
    width: 330px;
    margin-left: -65px;
    line-height: 1.8;
}
.icons
{
  width: 39px!important;
  margin-left:251px;
}
.valens
{
  height: 49px;
  width: 26px!important;
  margin-left:251px;
  margin-top: -247px;

}
.bornicon
{
  padding-top: 10px;
  height: 60px;
  width: 25px!important;
  margin-left: 251px;
  margin-top: -247px;
}
.chirsticon
{
  padding-top: 10px;
  height: 60px;
  width: 25px!important;
  margin-left: 251px;
  margin-top: -247px;
}
.createcont
{
  margin-top: 144px;
}
.events
{
  margin-top: -78px!important;
  margin-left: 248px;
  width: 92px;

}
.ml-auto
{
  margin-left: 78px!important;
}
.groupicons
{
  width: 204px;
  z-index: -4;
  margin-top: 66px;
  margin-left: 354px;
  position: absolute;
}
.form-control
{
  width: 200px!important;
  margin-top: 0px!important;
}
.wallgroup
{
  width: 124%!important;
  height: 480px;
  margin-left: -137px;
  margin-top: 70px;
}
.containergift
{
  margin-top:79px;
}
.amazelogo
{
  margin-top: -626px;
  width: 42px;
  margin-left: 109px;

}
.amazelogo1
{
  margin-top: -69px;
  width: 42px;
  margin-left: -235px;

}


.borderbox
{
  width: 216px;
  height: 241px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
  background-color: var(--white);
}

.borderboxselect
{
  margin-left: -47px;
  width: 238px;
  height: 163px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
  background-color: var(--white);
  padding-top: 6px;

}
.borderboxselect3
{
  margin-left: -25px;
    width: 172px;
    height: 163px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
  background-color: var(--white);
  padding-top: 6px;

}
.borderboxselect4
{
  margin-left: -51px;
  width: 155px;
  height: 163px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
  background-color: var(--white);
  padding-top: 6px;

}

.borderboxselect2
{
  margin-left: 8px;
  width: 148px;
  height: 163px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
  background-color: var(--white);
  padding-top: 6px;

}

.borderbox2
{
  width: 246px;
  height: 338px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
  background-color: var(--white);
}
.borderbox3
{
  width: 246px;
  height: 338px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
  background-color: var(--white);
}
.btnemerge
{
  width: 147px!important;
  height: 42px!important;
  border-radius: 2px!important;
  background-color: #434343;
  text-align: center!important;
  margin-left: 593px!important;
  margin-top: 25px;
}
.colshop
{
  width: 49%;
  padding-left: 21px!important;

}

.artd4
{
  width: 114%!important;
  margin-left: -18px;

}
.artd1
{
  width: 100.1%!important;
  padding-left: -2px;
  margin-left: 2px;
}
.
.shopmainrow
{
  padding-top:16px;
}
.artdrawing3
{
  width: 110%;
  height: 206px;
  margin-left: -12px;
}
.artdrawing4
{
  width: 112%!important;
  margin-left: 2px;
  height: 206px;
  margin-top: 16px;
}
.footer
{
  margin-top: -100px;
}
} 
@media (min-width: 992px)
{
	.col-md-8 
	{
    width: 62.666667%;
    margin-top: 50px!important;
	}	
}

@media only screen and (max-width: 320px){
  .fullimage
{
  margin-left: -124px;
  height: 475px;
  width: 148%;
}
.iconimage
{
  width: 37px;
  height: 87.3px;
  object-fit: contain;
  margin-top: -11px;
}
.listheadings
{
  width: 190px;
  height: 64px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: -0.67;
  letter-spacing: normal;
  text-align: center;
  color: #222222;
  margin-top: -28px!important;
}
.listdetails
{
  width: 190px;
  height: 64px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #222222;
}
.emergecol
{
  width: 69%!important;
  margin-left: 0px!important;
}
.btn
    {
      width: 114px!important;
      height: 50px!important;
      border-radius: 2px!important;
      background-color: #434343;
      text-align: center!important;
      margin-left: 95px!important;
    }
    .emerge
    {
      background-color: #fff6ef;
      height: 1837px;
    }
    .rectangle
    {
      width: 322px!important;
      margin-top: 47px;
      margin-left: 33px;
    }
    .box
    {
      width: 25%!important;
      margin-top: 24px;
      height: 59px;
    }
    .customerhead
{
  margin-top: 18px!important;
  width: 237px!important;
  margin-left: 12px!important;
  font-size: 19px!important;

}
.quotes
{
  margin-top: 0px!important;
  font-size: 17px;
  width: 306px;
  margin-left: -8px;
  line-height: 1.8;
}
.groupicons
{
  width: 100px;
  z-index: -4;
  margin-top: 66px;
  margin-left: 354px;
  position: absolute;
}
.create
    {
      width: 418px;
      height: 147px;
      font-family: Raleway;
      font-size: 17px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.17;
      letter-spacing: normal;
      text-align: left;
      margin-left: 2px;
      margin-top: 100px;
    }
    .createsub
    {
      width: 340px;
      margin-top: -109px;
      margin-left: 3px;
    }
    .heroimg
    {
      margin-left: -120px;
      width: 122%!important;
      margin-top: 5px;
  
    }
    .giftside
    {
      width: 455px;
      height: 26px;
      font-family: Roboto;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.3;
      letter-spacing: normal;
      text-align: left;
      color: #222222;
      margin-top: -335px;
      margin-left: 407px;
    }
    .gifthead
    {
      width: 498px;
      height: 26px;
      font-family: Roboto;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.3;
      letter-spacing: normal;
      text-align: left;
      color: #222222;
      margin-top: -412px;
      margin-left: 82px;
    }
}
@media screen and (min-width: 320px) and (max-width: 480px){
  .sidearrow
  {
    margin-left: 61pc;
    width: 49px;
    margin-top: -42pc;

  }
  .sidearrow1

  {
    width: 49px;
    margin-top: -41pc;
    margin-left: -1pc;
  }
  .bannercontainer
   {
    margin-top: -100px;
  }
  .bannerdot {
    margin-top: 10pc;
    margin-left: 88px;
    width: 158px;
}
.banner {
  position: absolute;
  z-index: 1;
  width: 17pc;
  margin-top: 282px;
  margin-left: -13pc;
  height: 231px;
}
.banner2 {
  height: 412px!important;
  margin-top: -9pc;
  margin-left: 249px;
}
.bannerline
{
  margin-top: 3pc;
  z-index: 1;
  position: absolute;
  margin-left: 32pc;
}
.bannercircle {
  width: 129px;
  margin-top: -81px;
  margin-left: 31pc;
  z-index: -1;
  position: absolute;
}
.bannerheading {
  width: 448px;
    height: 76px;
    font-family: Raleway;
    font-size: 34px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin-top: -15pc;
    margin-left: 643px!important;
}
.bannersubheading {
  width: 284px;
    height: 64px;
    font-family: Roboto;
    font-size: 19px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.59;
    letter-spacing: normal;
    text-align: left;
    color: #222222;
    margin-top: -11px;
    margin-left: 636px;
}
.bannerside {
  width: 447px;
  margin-top: -30pc;
  margin-left: 65pc;

 
}
.camera
  {
    object-fit: cover;
    height: 247px!important;
    object-position: 80% 50%;
    margin-left: 694px;
    width: 373px!important;
    max-width: fit-content;
    max-width: 500px!important;
    margin-top: -46pc;

  }
  .draw
  {     
    margin-left: 44pc;
    width: 145%!important;
    max-width: 33pc!important;
    margin-top: -49pc;
  }
  .fitimage{
    margin-left: 9pc;
    width: 418px!important;
    object-position: 84% 50%;
    object-fit: cover;
    max-width: fit-content!important;
    height: 44pc!important;
    width: 31pc!important;

    }
    .img
    {
      margin-top: 3pc!important;
      margin-left: 3pc;
      width: 130%!important;
    }
    .girly{
      width: 130%!important;
      margin-left: 3pc;
    }
    .fitimages
    {
    width: 521px!important;
    object-fit: cover;
    width: 2000px;
    margin-left: 37pc;
    margin-top: -40pc!important;
    height: max-content!important;
    max-height: 250%!important;
    height: 778px!important;
    max-width: 100pc!important;
    }
    .head{
      margin-top: -13pc;
    }
    #container1
    {
      margin-top: 80px!important;
      width: 1208px!important;
      height: 352px;
      max-width: 1369px!important;
    }
    .selection {
      width: 81pc;
      height: 147px;
      font-family: Raleway;
      font-size: 3.5pc;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.17;
      letter-spacing: normal;
      text-align: left;
      color: #2c1915;
      padding-left: 12px;
  }
  .path
  {
    margin-left: -139px!important;
    margin-top: -90px!important;
    width: 229px!important;
    height: 20pc;
  }
  .forest
  {
       width: 243px!important;
   height: 202px!important;
   margin-left: -50px!important;
  }
    
}
