
    .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
  }
  .combinehover:hover p.selection_heading_imgname
  {
    color:#d97113;
  }
  .recentcombine_hover:hover p.recent_text
  {
    color:#d97113;
  }
  .combinehover:hover p.selection_heading_imgname_phoneview
  {
    color:#d97113;
  }
  .img-bordered
  {
    /*margin:.2.5rem;*/
    margin:.5rem 0rem .5rem 0rem;
    padding:3px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
  }
  .img-bordered1
  {
    /*margin:.2.5rem;*/
    margin:.5rem 0rem .5rem 0rem;
    padding:5px;
    background-color: #ffffff;
  }
  .img-bordered1:hover
  {
    /*margin:.2.5rem;*/
    margin:.5rem 0rem .5rem 0rem;
    padding:3px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
  }
  /* selection carousel style */
  .col-md-3{
    display: inline-block;
    margin-left:-4px;
  }
  .col-md-3 img{
    width:100%;
    height: 15rem;
  }
  .selectionimg{
    display: inline-block;
    margin-left:-4px;
  }
  .selectionimg img{
    width:100%;
    height:11rem;
  }
  .col-md-2{
    display: inline-block;
    margin-left:-4px;
  }
  .col-md-2 img{
    width:100%;
    height:11rem;
  }

  .phoneviewimages img
  {
       width: 100%;
    padding: 131px;
    height: 61rem;
  }
  .carousel-inner {
    position: relative;
    margin: 6rem 0rem 0rem -4rem;

}
.carousel {
  position: relative;

}
.carousel-control
{
  background-image: none!important;
}
   
/* categories laptopview */
.categories_heading_laptopview
{
  height: 66px;
  font-family: Raleway;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
/* categories phoneview */
.categories_heading_phoneview
{
  /* width: 1353px;
  height: 66px; */
  font-family: Raleway;
  font-size: 28px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: var(--black-two);
  margin-top: 99px;
}
  /* Container style */
  .selectionContainer
  {
    background-color: #fff6ef;
    width: 100%!important;
    max-width: 2000px!important;
    margin-top: 80px;
    height: 345px;
  } 
  /* Selection of original artworks heading */
  .selectionArtworksHeading
  {
    width: 316px;
    height: 147px;
    font-family: Raleway;
    font-size: 21px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #2c1915;
    z-index: 0;
    position: absolute;
    margin: 10rem 10rem 10rem -17rem;
}
/*  */
.selectionarrow
{
    font-size: 3rem;
    color: black;
}
.selectionborder
{
  margin: 0rem 10rem 10rem -10rem;
  width: 176px!important;
  height: 22rem!important;

}
.selection_heading_imgname_phoneview
{
  width: 217px;
  height: 26px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.3;
  letter-spacing: normal;
  text-align: left;
  color: #222222;
  margin: -8rem 10rem 10rem 20rem;

}
.selection_heading_creatorname_phoneview
{
  width: 217px;
  height: 26px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.3;
  letter-spacing: normal;
  text-align: left;
  color: #222222;
  margin: -11rem 10rem 10rem 20rem;
}

.selection_heading_imgname
{
  width: 217px;
  height: 26px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.3;
  letter-spacing: normal;
  text-align: left;
  color: #222222;
}
.selection_heading_creatorname
{
       width: 87px;
        height: 24px;
        font-family: Roboto;
        font-size: 11px;
        margin-top: -1pc;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: left;
        color: #777777;
}

}
/* selection phone view container */
.selectionphoneviewcontainer
{
  background-color: #fff6ef;
  width: 100%!important;
  /* max-width: 2000px!important; */
  margin-top: 80px;
  height: 600px;
}

/* phoneview selection div img css */
.selectiondivimg
{
  width: 50%!important;
  height: 28rem!important;
  margin: 0rem 10rem 10rem 20rem;
}
.carouseldiv
{
  margin-top: -12pc;

}
/* selection phone view Heading */
.selectionArtworksHeadingPhoneView
{
  margin-left: 19rem;
  width: 1126px;
  height: 51px;
  font-family: Raleway;
  font-size: 53px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: left;
  color: #2c1915;
}
/* Featured artist */
.avatar_valuable_customer {
    vertical-align: middle;
    width: 65px!important;
    height: 68px!important;
    border-radius: 50%;
    margin-bottom: 4px;
    margin-left: 3pc;
    object-fit: cover;
    margin-top: 97px;
}
/* featured col img */
.featuredcolimg
{
    width: 100%;
    height: 8rem!important;
}
/* Shop Heading */
.shopheading
{
    width: 430px;
    height: 147px;
    font-family: Raleway;
    font-size: 26px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
    color: #2c1915;
    margin-left: 23rem;
}
/* Phone view Shop Fetaured artist heading */
.fetauredartistphoneviewcontainer
{
    margin-top: 83px;
    margin-left: 23pc!important;

}
.PhoneviewShopheading
{
    width: 430px;
    height: 147px;
    font-family: Raleway;
    font-size: 26px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
    color: #2c1915;
    margin-left: 23rem;  
}
/* Phoneview best collection */
.best_Collection_Container_Phoneview 
{
  background-color: #fff6ef;
  width: 100%!important;
  /* max-width: 2000px!important; */
  margin-top: 80px;
  height: 956px;
}
.bestcollections_date_phoneview
{
  width: 166px;
  height: 35px;
  font-family: Raleway;
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color:#222222;
  z-index: 0;
  margin: 3rem 0rem 0rem 10rem;
  position: absolute;
}

.bestcollections_date_phoneview1
{
  width: 166px;
  height: 35px;
  font-family: Raleway;
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color:#222222;
  margin: 0rem 0rem 0rem 10rem
}
/* best collection heading  phone view*/
.bestcollectionheadingphoneview
{
  z-index: 0;
  position: absolute;
  width: 504px;
  height: 24px;
  font-family: Raleway;
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: left;
  color: var(--black-two);
  padding: 7rem 10rem 10rem 10rem;
}
/* best collection subheading */
.bestcollectionsubheading
{
  padding: 16rem 5rem 10rem 4rem;
  z-index: 0;
  position: absolute;
  width: 33pc;
  font-size: 21px;
}
/* best collection phoneview images */
.bestcollectioncolorimg
{
  height: 19.1rem;
    padding: 5rem;
    margin: -4rem 0rem 8rem -6rem;
}
.bestcollectioncolortreeimg
{
  height: 20.1rem;
  padding: 5rem;
  margin: -17rem 0rem 0rem -6rem;
  width: 14pc;

}
.bestcollectionblackstatueimg
{
  height: 30.1rem;
  padding: 5rem;
  margin: -4rem 0rem 0rem -4.2rem;
  width: 13.1pc;
}
.bestcollectionwhiteimg
{
  width: 14.5pc!important;
    /* width: 100%; */
    height: 30.5rem;
    padding: 5rem;
    margin: -4rem 0rem 8rem -5rem;
}
.bestcollectionhorseimg
{
  width: 13.6pc!important;
    height: 21.1rem;
    padding: 5rem;
    margin: -10rem 0rem 8rem -6rem;

}
.bestcollectiontreeimg
{
  width: 13.6pc!important;
  /* width: 100%; */
  height: 20.3rem;
  padding: 5rem;
  margin: -4rem 0rem 0rem -6rem;

}
.borderboxbrown1_phoneview
{
width: 60%;
height: 236px;
max-width: 81.5%;
box-shadow: -5px 5px 10px 0 rgba(0, 0, 0, 0.16);
border-style: solid;
border-color: #421e00;
border-width: 6px;
margin: 28rem 0rem 0rem 10rem!important;
}
.borderboxbrown_phoneview
{
width: 60%;
height: 236px;
margin-top: 31px;
margin-left: 100px!important;
max-width: 81.5%;
box-shadow: -5px 5px 10px 0 rgba(0, 0, 0, 0.16);
border-style: solid;
border-color: #421e00;
border-width: 6px;
background-color: #fff6ef;
}
/* Phoneview create artist style */

.createphoneviewheading
{
  height: 147px;
  font-family: Raleway;
  font-size: 19px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  padding: 1rem 10rem 10rem 7rem;
}
.createphoneviewsubheading
{
  width: 400px;
  height: 147px;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: center;
  margin: -9rem 1rem 1rem 3rem!important;
}
.btncreatetextphoneview
{
  width: 79px;
    height: 30px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
.createphoneviewcontainer
{
  
}
.createphoneviewimg
{
  width: 65%;
  margin: -3rem 0rem 0rem 9rem;
}
.btncreatePhoneview
{
  margin: -16rem 10rem 0rem 18rem;
  width: 106px;
  height: 38px;
  border-radius: 2px!important;
background-color: #ec8c39;
}
/* Valuable customer Phoneview */
.valuablecustomerphoneview
{
  background-color: #ec8c39;
  margin: 3rem 0rem 0rem 0rem;
  padding: 1rem 0rem 0rem 0rem
}
.phone_view-avatar
{
  width: 71%!important;
  height: 7rem!important;
}
.quotes_phone_view
{
  width: 279px;
  height: 159px;
  font-family: Semplicità;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: white;
}
/* recently view laptop view container */
.recent_Rate
{
  color: #ff4e4e;
}
.recently_view_laptopview_container
{
  width:100%;
  margin: 30rem 10rem -17rem 10rem;
}
.recently_view_phoneview_container
{
  width:100%;
  margin: 0rem 10rem -17rem 10rem;
}
.recent_phoneview_Carousel
{
  width: 165%!important;

}
.free_return_phone_view_img
{
  width:100%;
  height: 36rem;
}
/* Free returns Phone view */
.phoneview_free_returns_container
{
  padding-left: 0px!important;
  padding-right: 0px!important;
}
.list_details_phoneview
{
  width: 165px;
  height: 64px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: var(--black-two);
  margin: -5.3rem 1rem 1rem -1rem!important;
}
.list_headings_phoneview
{
  width: 190px;
  height: 64px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: var(--black-two);
  margin: -3rem 1rem 1rem -4rem!important;
}
.iconimg
{
  width: 22px;
  height: 87.3px;
  object-fit: contain;
  margin-left: 35px;
}
/* gifthead_phoneview */
.gift_phoneview
{
  padding-left: 0px!important;
  padding-right: 0px!important;
}
.gifthead_phoneview
{
  
  width: 493px;
    height: 147px;
    font-family: Raleway;
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #2c1915;
    margin-left: 124px;
    z-index: 0;
    position: absolute;
    padding: 10rem;
    margin: -28rem 0rem 0rem 0rem;
}
.giftsideheading_phoneview
{
  width: 100%;
    height: 147px;
    font-family: Raleway;
    font-size: 9px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #2c1915;
    margin-left: 124px;
    z-index: 0;
    position: absolute;
    padding: 10rem;
    margin: -24rem 0rem 0rem 1rem;
}
.giftcarousel li
 {
  display: inline-block;
  width: 7px!important;
  height: 7px!important;
  margin: 1px;
}
.giftcarousel {
  position: absolute;
  bottom: -48px!important;
  left: 47% !important;
  z-index: 15;
  width: 59%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
/* gift laptop view */
.btngift_lapview
{
  width: 106px;
  height: 38px;
  border-radius: 2px!important;
background-color:#434343;
margin: 0rem 0rem 0rem 55rem;
}